# Gradle files
.gradle/
build/

# IDE files
*.iml
.idea/
!.idea/codeStyles/
!.idea/scopes/
!.idea/inspectionProfiles/
!.idea/vcs.xml
!.idea/gradle.xml

# Local configuration
local.properties

# Build outputs
captures/
*.apk
*.aab

# Native build
.externalNativeBuild
.cxx/

# Keystores
*.jks
*.keystore

# System files
.DS_Store

# Log files
*.log
